.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #61dafb;
}
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container-nav {
  margin: 0, auto;
  padding: 4em;
}

h1 {
  margin: 2em;
  display: inline;
}

.paragraph {
  display: inline;
}

.buttonStyle {
  height: 40px;
  padding: 1.5em;
  margin: 1em;
  border-radius: 4px;
  font-size: 14px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
