.input-searchField {
  margin-left: 2%;
  margin-right: 2%;
  max-width: 90vw;
}

h3 {
  margin-top: 2%;
}

.input-searchField {
  display: flex;
  margin-top: 2%;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 20px;
}

a:hover {
  text-decoration: underline;
}

.form {
  display: flex;
}

.inputField {
  width: 65vw;
  outline: 0px solid transparent;
  margin-right: 2%;
}

.translateButton {
  display: flex;
  min-width: 6vw;
  margin-left: 15vw;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.translateButton:hover {
  background-color: #f5f5f5;
}
