.container-login {
  background-color: #dd8282;
  border-radius: 20px;
  width: 80%;
  padding: 10px;
  border: 2px solid #969696;
  margin-bottom: 30px;
}
.title-login {
  display: block;
}
form {
  flex-direction: column;
  align-items: center;
  padding: 4em;
  margin: 0 auto;
}

.error-msg {
  display: block;
  font-size: 16px;
}

input {
  font-size: larger;
  background-color: #efefef;
  border: none;
  padding: 10px;
  width: 350px;
}

input:focus {
  outline: 1px solid #969696;
}

button {
  display: inline;
  margin: 1em;
  padding: 0.2em;
}
